LOG_LEVEL=INFO

# -------------------------
# Database Settings
# -------------------------
DATABASE__PROVIDER=postgresql
DATABASE__DIALECT=psycopg
DATABASE__HOST=localhost
DATABASE__PORT=5432
DATABASE__USER=
DATABASE__PASSWORD=
DATABASE__DATABASE=
DATABASE__CLIENT_NAME=websocket-writer
DATABASE__ECHO=false

# -------------------------
# Database Settings
# -------------------------
WEBSOCKET__URL=wss://socket

# -------------------------
# Database Settings
# -------------------------
AUTH__URL=https://auth/token
AUTH__CLIENT_ID=client_id
AUTH__CLIENT_SECRET=client_secret

# -------------------------
# Database Settings
# -------------------------
STOMP__REMOTE_HOST=localhost
STOMP__MAIN_TOPIC=/topic/main
STOMP__SUB_TOPIC=/sub